a.article-content {
  display: inline-block;
  width: 100%;
}

.cover-wrap:hover img {
  transition: transform 1.5s;
  transform: scale(1.1, 1.1) rotate(5deg);
}

.cover-wrap {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  background: #e0e0e0 url(../assets/place/1016.jpg) no-repeat;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #e3d5d5;
}

.article-content .text {
  margin-bottom: 0;
  margin-top: 8px;
  font-size: 13px;
  color: #fff;
}

.article-content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
