.article-wrap .cover-wrap img {
  transition: transform 1.5s;
}

.article-wrap .cover-wrap:hover img {
  transform: scale(1.1, 1.1);
}

.article-wrap .cover-wrap {
  width: 100%;
  height: 120px;
  border: 1px solid #eee;
  border-radius: 3px;
  overflow: hidden;
  background: url(../assets/place/1016.jpg) no-repeat;
}

img {
  width: 100%;
  height: 100%;
}

.article-wrap  .text {
  margin-bottom: 0;
  margin-top: 8px;
}

.article-wrap  .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
