.detail {
  width: 100%;
  padding-bottom: 100px;
}
.detail .title {
  font-weight: bolder;
}
.detail .text {
  color: #333;
}

.detail .audio {
  position: fixed;
  bottom: 0;
  width: 1000px;
  outline: none;
}
